<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="串口" value="com1"/>
		<add key="波特率" value="9600"/>
		<!--发送间隔时间，单位毫秒-->
		<add key="发送间隔" value="200"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>